<div class="container">
  <div class="row a1">
    <app-header></app-header>
  </div>
  <div class="row a2">
    <app-header2></app-header2>
  </div>
  <div class="row a3">
    <img src="./assets/pic1.jpg" height="400px">
  </div>
  <div class="row a4">
    <div class="col-sm-4">
      <img src="./assets/nike1.jpg" height="200px" width="200px">
    </div>
    <div class="col-sm-4">
      <img src="./assets/nike2.jpg" height="200px" width="200px">
    </div>
    <div class="col-sm-4">
      <img src="./assets/nike3.jpg" height="200px" width="200px">
    </div>
  </div>
  <div class="row a4">
    <div class="col-sm-4">
      <img src="./assets/nike4.jpg" height="200px" width="200px">
    </div>
    <div class="col-sm-4">
      <img src="./assets/nike5.jpg" height="200px" width="200px">
    </div>
    <div class="col-sm-4">
      <img src="./assets/nike6.jpg" height="200px" width="200px">
    </div>
  </div>
  <div class="row a5">
    <app-footer></app-footer>
  </div>
</div>
<router-outlet></router-outlet>
